html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    text-align: center;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }

  img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  button {
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .homepage_but {
    background-color: #ffffff;
    color: black;
    background-color: white;
  }

  .homepage_but:hover {
    background-color: #929292;
  }
