{% extends "layout.html" %}

{% block content %}

  <div class="container text-center py-4">
    <p>Stacy, the sassy, hired you to take photos for her Instagram.</p>
    <p>But you don't know how to use a camera!!!</p>

    <div class="row justify-content-center align-items-center mt-4">
      <div class="col-md-auto">
        <img src="../images/stacy.png" alt="Bratz Doll - Stacy" class="img-fluid rounded stacy-img" />
      </div>
      <div class="col-md-auto">
        <div class="speech-bubble">
          Hi! I'm Stacy and I love fashion 💅. I will pay 1 million dollars if you take good photos of me. 
        </div>
      </div>
    </div>
  </div>

  <a href="camera.html" class="btn btn-light fw-bold px-4 py-2">
    Next →
  </a>

{% block content %}
