{% extends "layout.html" %}

{% block content %}

  <div class="container text-center py-4">
    <p>To help you fulfill your photographic responsabilities, we are going to help you. 
        We are going to cover the basics of the camera, as well as the 3 elements that control Exposure.
        Exposure is the amount of light that reaches the camera's sensor or film, which defines how bright an image will be. 
        These are called ISO, Apeture and Exposure.
    </p>
     

    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-md-auto">
            <img src="{{ url_for('static', filename='images/triangle.png') }}" 
            alt="Exposure triangle" 
            style="width: 700px; max-width: 100%; height: auto;" />
        </div>
  </div>

  <div class="text-center">
    <a href="{{ url_for('learning') }}" class="back-btn">
      ← Home 
    </a>
    <a href="{{ url_for('camera') }}" class="next-btn">
      Next →
    </a>
  </div>


  {% endblock %}
