{% extends "layout.html" %}

{% block content %}

<div class="container text-center py-4">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-md-auto">
      <img src="{{ url_for('static', filename='images/stacy.png') }}" alt="Bratz Doll - Stacy" class="img-fluid rounded stacy-img" />
    </div>
    <div class="col-md-auto">
      <div class="speech-bubble">
      Let's learn about ISO next. But hurry up!!! I need my pictures soon!</div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="{{ url_for('back_of_camera') }}" class="back-btn">← Back to Back of Camera</a>
  <a href="{{ url_for('iso_opening') }}" class="next-btn">Continue ISO →</a>
</div>

{% endblock %}

