{% extends "layout.html" %}

{% block content %}

<div class="container text-center py-4">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-md-auto">
      <img src="{{ url_for('static', filename='images/stacy.png') }}" alt="Bratz Doll - Stacy" class="img-fluid rounded stacy-img" />
    </div>
    <div class="col-md-auto">
      <div class="speech-bubble">
        Now that you know the what the triangle of exposure is, lets get you in behind a real camera.If youre going to be my photographer you need experience!
      </div>
    </div>
  </div>
</div>

<div class="buttons mt-4 text-center">
  <a href="{{ url_for('learning2') }}" class="back-btn">← Back</a>
  <a href="{{ url_for('camera') }}" class="next-btn">Next →</a>
</div>

{% endblock %}

