{% extends "layout.html" %}

{% block content %}

<div class="container text-center py-4">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-md-auto">
      <img src="{{ url_for('static', filename='images/stacy.png') }}" alt="Bratz Doll - Stacy" class="img-fluid rounded stacy-img" />
    </div>
    <div class="col-md-auto">
      <div class="speech-bubble">
	The first thing you will dive into is the shutter speed. Pay attention and take notes. I dont want my pictures looking blurry!
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="{{ url_for('camera') }}" class="back-btn">← Back to Camera</a>
  <a href="{{ url_for('shutter_opening') }}" class="next-btn">Continue Shutter Speed →</a>
</div>

{% endblock %}

